
body{
    padding: 0;
    margin: 0;
}

.container{
  font-family: "Poppins", sans-serif;
  background-color: #222831;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 13fr;
}

.navbar{
  top: 0;
  position: sticky;
  grid-column: 1/4;
  background-color: #76ABAE;
  display: flex;
  justify-content: space-between;
}

.navbar > ul > li{
  height: 100%;
  align-content: center;
  z-index: 10;
}

.navbar > ul > li > a{
  color: #222831;
  text-decoration: none;
}

.item2{
  font-weight: 900;
}

.item2 > a:hover{
  color: #31363F;
}

.end{
  display: flex;
  gap: 20px;
  align-items: center;
  padding-right: 2%;
}

.beginning{
  display: flex;
  padding-left: 2%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.timeline-wrapper{
  grid-column: 2/3;
  grid-row: 2/3;
  color: #EEEEEE;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem 1% 2rem;
}

.timeline-row{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.heading{
  font-size: 2rem;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.heading i{
  font-size: 4rem;
}

.content-box{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem;
  margin: 0 2rem;
  background-color: #222831;
  backdrop-filter: blur(20px);
  border: 3px solid #31363F;
  border-radius: 1rem;
  font-size: 14px;
  transition: 0.4s ease;
  cursor: pointer;
}

.content-box:hover{
  box-shadow: 0 0 25px #76ABAE;
  border: 3px solid #76ABAE;
}

.timeline-box{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-left: 5px solid #76ABAE;
}

.content-box::before{
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  background-color: #76ABAE;
  border-radius: 50%;
  left: -50px;
  top: 90px;
}

.tools{
  padding-top: 2rem;
  padding-left: 2rem;
  grid-row: 2/3;
  grid-column: 1/2;
}

svg{
  float: left;
}


.tools > ul > li > p{
  padding-left: 2rem;
  padding-top: 0.1rem;
  font-weight: bold;
  color: #EEEEEE;
}